.events {
  padding-top: 1rem;
  padding: 2rem;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-image: url('../assets/ourevents.png'); /* Path to your image */
  overflow: hidden;
}

.events h2 {
  padding-top: 5rem;
  font-family: 'Poppins', sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.events-section {
  margin-bottom: 4rem;
}

.events-section h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.upevent-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.upevent-card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 60rem;
  width: 100%;
  background-image: url('../assets/devs.png');
  border: 2px solid #B79AEE;;
}

.upevent-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.upevent-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.upevent-image {
  position: relative;
  width: 100%;
  height: 20rem;
  max-width: 60rem;
  overflow: hidden;
  border-radius: 8px;
}

.upevent-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.upevent-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.upevent-card:hover .upevent-overlay {
  opacity: 1;
}

.upevent-info {
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.upevent-info h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.upevent-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #ccc;
}

.event-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  overflow: hidden; /* Ensure overflow is hidden */
}

.event-card {
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adjust timing functions */
  max-width: 60rem;
  width: 100%;
  border: 2px solid #B79AEE;
}

.event-card:hover {
  transform: translateY(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.event-card.past-event {
  max-width: 40rem; /* Example reduced width for past events */
}

.event-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.event-image {
  position: relative;
  width: 100%;
  height: 20rem;
  max-width: 60rem;
  overflow: hidden;
  border-radius: 8px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Ensure consistency with JavaScript transitions */
}

.event-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.event-card:hover .event-overlay {
  opacity: 1;
}

.event-info {
  text-align: center;
  color: #fff;
  padding: 1rem;
}

.event-info h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.event-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #ccc;
}

/* Customize slick slider arrows */
.slick-prev:before,
.slick-next:before {
  color: #482291 !important;
  font-size: 2.5rem; /* Decrease the icon size for smaller screens */
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 2.5rem; /* Decrease the width for smaller screens */
  height: 2.5rem; /* Decrease the height for smaller screens */
  transform: scale(1.5); /* Decrease the overall scale for smaller screens */
}
/* Adjust position for left arrow */
.slick-prev {
  left: 3rem !important; /* Adjust position for smaller screens */
}

/* Adjust position for right arrow */
.slick-next {
  right: 3rem !important; /* Adjust position for smaller screens */
}

/* Responsive design */
@media (min-width: 3000px) {
  .events h2 {
    font-size: 5rem;
  }

  .events-section h3 {
    font-size: 3rem;
  }

  .upevent-image,
  .event-image {
    height: 25rem;
  }
}

@media (max-width: 1200px) {
  .events h2 {
    font-size: 3rem;
  }

  .events-section h3 {
    font-size: 2rem;
  }

  .upevent-image,
  .event-image {
    height: 20rem;
  }
}

@media (max-width: 900px) {
  .events h2 {
    font-size: 2.5rem;
  }

  .events-section h3 {
    font-size: 1.8rem;
  }

  .upevent-image,
  .event-image {
    height: 18rem;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 2.5rem;
  }

  .slick-prev,
  .slick-next {
    width: 2rem;
    height: 2rem;
    transform: scale(1);
  }

  .slick-prev {
    left: 2rem !important;
  }

  .slick-next {
    right: 2rem !important;
  }
}

@media (max-width: 600px) {
  .events h2 {
    font-size: 2rem;
  }

  .events-section h3 {
    font-size: 1.5rem;
  }

  .upevent-image,
  .event-image {
    height: 15rem;
  }

  /* Adjust arrow sizes and positions for smaller screens */
  .slick-prev:before,
  .slick-next:before {
    font-size: 2.5rem;
  }

  .slick-prev,
  .slick-next {
    width: 2rem;
    height: 2rem;
    transform: scale(1);
  }

  .slick-prev {
    left: 2rem !important;
  }

  .slick-next {
    right: 2rem !important;
  }
}

@media (max-width: 480px) {
  .events h2 {
    font-size: 1.8rem;
  }

  .events-section h3 {
    font-size: 1.2rem;
  }

  .upevent-image,
  .event-image {
    height: 12rem;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 2rem;
  }

  .slick-prev,
  .slick-next {
    width: 2rem;
    height: 2rem;
    transform: scale(1);
  }

  .slick-prev {
    left: 1rem !important;
  }

  .slick-next {
    right: 1rem !important;
  }
}

@media (max-width: 360px) {
  .events h2 {
    font-size: 1.5rem;
  }

  .events-section h3 {
    font-size: 1rem;
  }

  .upevent-image,
  .event-image {
    height: 10rem;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 2rem;
  }

  .slick-prev,
  .slick-next {
    width: 2rem;
    height: 2rem;
    transform: scale(1);
  }

  .slick-prev {
    left: 1rem !important;
  }

  .slick-next {
    right: 1rem !important;
  }
}
